@model IEnumerable<SteamGameStatistics.Models.Steam.Game>

@{
    ViewData["Title"] = "LoadAllGames";
}

<h1>All Games</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Last two weeks playtime
            </th>
            <th>
                Total Playtime
            </th>
            <th>
                Icon
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.GetLastTwoWeeksPlaytime()
            </td>
            <td>
                @item.GetTotalPlaytime()
            </td>
            <td>
                <img src="@Url.Content(item.GetIconUrl())">
            </td>
        </tr>
}
    </tbody>
</table>
