@model List<SteamGameStatistics.Models.Steam.OwnedGame>

@{
    ViewData["Title"] = "DisplayAllGames";
}

<h1>All games played</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model)
                </th>
                <th>
                    @Html.ActionLink("Name", "DisplayAllGames", "Steam", new { sortOrder = "name" })
                </th>
                <th>
                    @Html.ActionLink("Total Playtime", "DisplayAllGames", "Steam", new { sortOrder = "tpt" })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.GetIconUrl())">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.GetTotalGamePlaytime()
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>There is no data to display.</p>
}
